<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      హనుమాన్ చాలీసా
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="stotram">
    <p>శ్రీ గురు చరణ సరోజ రజ నిజమన ముకుర సుధారి |<br>
      వరణౌ రఘువర విమలయశ జో దాయక ఫలచారి ||</p>
    <p>బుద్ధిహీన తనుజానికై సుమిరౌ పవన కుమార |<br>
      బల బుద్ధి విద్యా దేహు మోహి హరహు కలేశ వికార్ ||</p>
    <small>చౌపాఈ</small>
    <p>జయ హనుమాన ఙ్ఞాన గుణ సాగర |<br>
      జయ కపీశ తిహు లోక ఉజాగర || </p>
  
    <p>రామదూత అతులిత బలధామా |<br>
      అంజని పుత్ర పవనసుత నామా || </p>
  
    <p>మహావీర విక్రమ బజరంగీ |<br>
      కుమతి నివార సుమతి కే సంగీ ||</p>
  
    <p>కంచన వరణ విరాజ సువేశా |<br>
      కానన కుండల కుంచిత కేశా || </p>
  
    <p>హాథవజ్ర ఔ ధ్వజా విరాజై |<br>
      కాంథే మూంజ జనేవూ సాజై ||</p>
  
    <p>శంకర సువన కేసరీ నందన |<br>
      తేజ ప్రతాప మహాజగ వందన || </p>
  
    <p>విద్యావాన గుణీ అతి చాతుర |<br>
      రామ కాజ కరివే కో ఆతుర || </p>
  
    <p>ప్రభు చరిత్ర సునివే కో రసియా |<br>
      రామలఖన సీతా మన బసియా ||</p>
  
    <p>సూక్ష్మ రూపధరి సియహి దిఖావా |<br>
      వికట రూపధరి లంక జరావా || </p>
  
    <p>భీమ రూపధరి అసుర సంహారే |<br>
      రామచంద్ర కే కాజ సంవారే ||</p>
  
    <p>లాయ సంజీవన లఖన జియాయే |<br>
      శ్రీ రఘువీర హరషి ఉరలాయే ||</p>
  
    <p>రఘుపతి కీన్హీ బహుత బడాయీ |<br>
      తుమ మమ ప్రియ భరతహి సమ భాయీ ||</p>
  
    <p>సహస వదన తుమ్హరో యశగావై |<br>
      అస కహి శ్రీపతి కంఠ లగావై ||</p>
  
    <p>సనకాదిక బ్రహ్మాది మునీశా |<br>
      నారద శారద సహిత అహీశా ||</p>
  
    <p>యమ కుబేర దిగపాల జహాఁ తే |<br>
      కవి కోవిద కహి సకే కహాఁ తే ||</p>
  
    <p>తుమ ఉపకార సుగ్రీవహి కీన్హా |<br>
      రామ మిలాయ రాజపద దీన్హా ||</p>
  
    <p>తుమ్హరో మంత్ర విభీషణ మానా |<br>
      లంకేశ్వర భయే సబ జగ జానా ||</p>
  
    <p>యుగ సహస్ర యోజన పర భానూ |<br>
      లీల్యో తాహి మధుర ఫల జానూ ||</p>
  
    <p>ప్రభు ముద్రికా మేలి ముఖ మాహీ |<br>
      జలధి లాంఘి గయే అచరజ నాహీ ||</p>
  
    <p>దుర్గమ కాజ జగత కే జేతే |<br>
      సుగమ అనుగ్రహ తుమ్హరే తేతే ||</p>
  
    <p>రామ దుఆరే తుమ రఖవారే |<br>
      హోత న ఆఙ్ఞా బిను పైసారే ||</p>
  
    <p>సబ సుఖ లహై తుమ్హారీ శరణా |<br>
      తుమ రక్షక కాహూ కో డర నా ||</p>
  
    <p>ఆపన తేజ తుమ్హారో ఆపై |<br>
      తీనోఁ లోక హాంక తే కాంపై ||</p>
  
    <p>భూత పిశాచ నికట నహి ఆవై |<br>
      మహవీర జబ నామ సునావై ||</p>
  
    <p>నాసై రోగ హరై సబ పీరా |<br>
      జపత నిరంతర హనుమత వీరా ||</p>
  
    <p>సంకట సేఁ హనుమాన ఛుడావై |<br>
      మన క్రమ వచన ధ్యాన జో లావై ||</p>
  
    <p>సబ పర రామ తపస్వీ రాజా |<br>
      తినకే కాజ సకల తుమ సాజా ||</p>
  
    <p>ఔర మనోరధ జో కోయి లావై |<br>
      తాసు అమిత జీవన ఫల పావై ||</p>
  
    <p>చారో యుగ పరితాప తుమ్హారా |<br>
      హై పరసిద్ధ జగత ఉజియారా ||</p>
  
    <p>సాధు సంత కే తుమ రఖవారే |<br>
      అసుర నికందన రామ దులారే ||</p>
  
    <p>అష్ఠసిద్ధి నవ నిధి కే దాతా |<br>
      అస వర దీన్హ జానకీ మాతా ||</p>
  
    <p>రామ రసాయన తుమ్హారే పాసా |<br>
      సాద రహో రఘుపతి కే దాసా ||</p>
  
    <p>తుమ్హరే భజన రామకో పావై |<br>
      జన్మ జన్మ కే దుఖ బిసరావై ||</p>
  
    <p>అంత కాల రఘువర పురజాయీ |<br>
      జహాఁ జన్మ హరిభక్త కహాయీ ||</p>
  
    <p>ఔర దేవతా చిత్త న ధరయీ |<br>
      హనుమత సేయి సర్వ సుఖ కరయీ ||</p>
  
    <p>సంకట కటై మిటై సబ పీరా |<br>
      జో సుమిరై హనుమత బల వీరా ||</p>
  
    <p>జై జై జై హనుమాన గోసాయీ |<br>
      కృపా కరో గురుదేవ కీ నాయీ ||</p>
  
    <p>జో శత వార పాఠ కర కోయీ |<br>
      ఛూటహి బంది మహా సుఖ హోయీ ||</p>
  
    <p>జో యహ పడై హనుమాన చాలీసా |<br>
      హోయ సిద్ధి సాఖీ గౌరీశా ||</p>
  
    <p>తులసీదాస సదా హరి చేరా |<br>
      కీజై నాథ హృదయ మహ డేరా ||</p>
  </div>
</ion-content>
