<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    సంకటనాశన గణేశస్తోత్రమ్
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hello Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="stotram">
    <p>ప్రణమ్య శిరసా దేవం , గౌరీపుత్రం వినాయకమ్,<br>
      భక్తావాసం స్మరేన్నిత్యం, ఆయుఃకామార్థసిద్ధయే.</p>
  
    <p>ప్రథమం వక్రతుండం చ, ఏకదంతం ద్వితీయకమ్,<br>
      తృతీయం కృష్ణపింగాక్షం, గజవక్త్రం చతుర్థకమ్.</p>
  
    <p>లంబోదరం పంచమం చ, షష్ఠం వికటమేవ చ,<br>
      సప్తమం విఘ్నరాజం చ, ధూమ్రవర్ణం తథాష్టమమ్.</p>
  
    <p>నవమం ఫాలచంద్రం చ, దశమం తు వినాయకమ్,<br>
      ఏకాదశం గణపతిం, ద్వాదశం తు గజాననమ్.</p>
  
    <p>ద్వాదశ ఈతాని నామాని, త్రిసంధ్యం యః పఠేన్నరః,<br>
      న చ విఘ్నభయం తస్య, సర్వసిద్ధికారకం ప్రభో !</p>
  
    <p>విద్యార్థీ లభతే విద్యాం, దనార్థీ లభతే ధనమ్,<br>
      పుత్రార్థీ లభతే పుత్రాన్, మోక్షార్థీ లభతే గతిమ్.</p>
  
    <p>జపేత్ గణపతిస్తోత్రం, షడ్భిర్మాసైః ఫలం లభేత్,<br>
      సంవత్సరేణ సిద్ధిం చ, లభతే నాత్ర సంశయః.</p>
  
    <p>అష్టభ్యో బ్రాహ్మణేభ్యశ్చ, లిఖిత్వా యః సమర్పయేత్,<br>
      తస్య విద్యా భవేత్ సర్వా, గణేశస్య ప్రసాదతః</p>
  </div>
</ion-content>
