<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      మహా మృత్యుంజయ మంత్రం
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">మహా మృత్యుంజయ మంత్రం</ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- <ion-button expand="block" (click)="presentActionSheet()">Show Action Sheet</ion-button> -->
  <div class="stotram">
  <p>ఓం త్రయంబకం యజామహే<br> సుగంధిం పుష్టి వర్ధనం | <br>
    ఉర్వారుకమివ బంధనాన్<br> మృత్యోర్ ముక్షీయ మామృతాత్ ||</p>
    <br><br>
    <small> ఈ మంత్రానికి అర్ధం </small>
  <p>  అందరికి శక్తిని ఇచ్చే ముక్కంటి దేవుడు,సుగంధ భరితుడు అయిన శివున్ని మేము పుజిస్తున్నాము.
    పండు తొడిమ నుండి వేరుపడు విధముగా, మేము కూడా మరణము నుండి, మర్త్యత్వము నుండి విడుదల పొందాలి.</p>
  </div>
</ion-content>
